{{- $namespace := .Values.namespace -}}
  {{- $env := .Values.env -}}
  {{- range .Values.deployment_rest }}
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "{{ $namespace }}-{{ $env }}-{{ .container.name }}-cm"
  namespace: {{ $namespace }}
data:
  {{- range .container.environments }}
    "{{ .env }}: {{.value}}"
  {{- end }}
{{- end }}