{{- $namespace := .Values.namespace -}}
{{- $env := .Values.env -}}
{{- with .Values.windows_deployment }}
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "{{ $namespace }}-{{ $env }}-{{ .name }}-cm"
  namespace: {{ $namespace }}
data:
  {{- range $k, $v := .environments }}
  {{ $k }}: {{ $v }}
{{- end }}